/* Fonts used in SDP.fi. Licensed is under fonts/ directory */
@font-face {
    font-family: "TitilliumText25L250wt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/titilliumtext25l250-webfont.eot") format("embedded-opentype"), url("../fonts/titilliumtext25l250-webfont.woff") format("woff"), url("../fonts/titilliumtext25l250-webfont.ttf") format("truetype"), url("../fonts/titilliumtext25l250-webfont.svg#TitilliumText25L250wt") format("svg");
}
@font-face {
    font-family: "TitilliumText25L400wt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/titilliumtext25l400-webfont.eot") format("embedded-opentype"), url("../fonts/titilliumtext25l400-webfont.woff") format("woff"), url("../fonts/titilliumtext25l400-webfont.ttf") format("truetype"), url("../fonts/titilliumtext25l400-webfont.svg#TitilliumText25L400wt") format("svg");
}
@font-face {
    font-family: "TitilliumText25L800wt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/titilliumtext25l800-webfont.eot") format("embedded-opentype"), url("../fonts/titilliumtext25l800-webfont.woff") format("woff"), url("../fonts/titilliumtext25l800-webfont.ttf") format("truetype"), url("../fonts/titilliumtext25l800-webfont.svg#TitilliumText25L800wt") format("svg");
}

a {
    color: #08c;
    text-decoration: none;
}

h1, h2 {
    font-family: "TitilliumText25L250wt",Verdana,Geneva,sans-serif;
    font-weight: 400;
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

dt, dd, .footer {
    font-size: 13px;
    line-height: 18px;
}

.wrapper {
    margin-left: 2em;
    margin-right: 2em;
}

.wrapper .rightbox {
    font-size: large;
}

.right {
    float: right;
}

.left {
    float: left;
}

.figure {
    margin: 0.5em;
}

.figure .caption {
    text-align: center;
}

.footer h3 {
    font-size: 1em;
    color: #ccc;
}


body {
    background: url("../images/sdp_ruusukuvio_pieni_beige.png") repeat scroll 0 0 gray;
    margin-bottom: 2em;
    margin-top: 2em;
}

body > .container {
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

    background: white;
}

body > .container {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hero-unit {
    margin-bottom: 1em;
    padding: 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: white;
}

#siteHeader {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 4em;
    overflow: auto;
}

#siteLogo {
    float: left;
}

#siteInfo {
    float: left;
    margin-left: 1em;
}

.teaser {
    font-weight: bold;
}

#motto {
    margin: 0;
    margin-left: 0.5em;
    padding-top: 0.5em;
}

.footer .wrapper {
    background: #fbfbf8;
}

.footer .contact {
    float: right;
}

.navi {
    width: 100%;
    padding: 0.5em 0em 0.5em 0em;
    margin: 0;
    background: #d1d1d1;
    list-style: none;
    font-size: medium;
}

.navi {
    opacity: 0.8;
}

.subnavi {
    opacity: 1.0;
}

.navi .selected {
    font-weight: bold;
}

.navi li {
    background: #d1d1d1;
    padding: 0em 2em 0em 2em;
    display: inline;
}

.navi li:last-child {
    border-right: none;
}

.navi li a {
    color: black;
}

footer .contact {
    float: right;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    body {
        margin: 0;
    }
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.2;
}

.full .close {
    float: right;
    background-image: url("../images/close.png"); /* from glyphicons */
    width: 26px;
    height: 26px;
}

.hero-unit h1 {
    margin-top: 0;
}

