---
layout: layout
title: Tukiryhmä
css: tukiryhma
js: tukiryhma
---

<div class="row">
    <div class="span5">
        <div class="wrapper">
            <h2>Members</h2>

            <div class="polaroids">
                <div class="polaroid" id="teppo">
                    <img src="{{ site.prefix }}/images/tukiryhma/generic.jpg" />
                    <div class="name">Teppo Tomera</div>
                    <div class="description">{% include tukiryhma/teppo.html %}</div>
                </div>

                <div class="polaroid" id="seppo">
                    <img src="{{ site.prefix }}/images/tukiryhma/generic.jpg" />
                    <div class="name">Seppo Suovaara</div>
                    <div class="description">{% include tukiryhma/seppo.html %}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="span7">
        <div class="wrapper">
        <h2 id="name">Information</h2>
        <div id="info"></div>
        </div>
    </div>
</div>

